.sidebar{
    background: white;
    border-inline-end: none;
    max-width: 200px;
    @media (max-width: 768px) {
        width: 0px !important;
        overflow: hidden;
        transition: width 0.3s ease-in-out;
        .logo {
          display: none;
        }
        
        .menu {
          display: none;
        }
      }
    .sider {
        width: 0px !important;
        background: white !important;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        :global{
            .ant-image-img{
                // width: 70px;
                // height: 70px;
                margin: auto;
            }
            .ant-btn{
                font-size: 16px;
                width: 35px;
                height: 70px;
                border: 0px;
                padding: 0;
                &:hover {
                    background-color: white;
                }
            }
        }
        .button-after{
            font-size: 16px;
            width: 80px;
            height: 70px;
            border: 0px;
            padding: 0;
            &:hover {
                background-color: white;
            }
        }
    }
    .menu{
        :global{
            border-inline-end: none !important;
        }
    }
}


