.common-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px 0px;
}
.status{
    border: 1px solid black;
    border-radius: 3px;
}
      
.table{
    width: auto; 
    margin: 10px 10px 0;
    :global{
        .ant-table-thead{
            .ant-table-cell{
                background-color: #0597c4;
                color: white;
            }
        }
    }
}
.avatar{
    width: 30px !important;
    height: 30px !important;
    border-radius: 20px !important;
}

.invite-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-invite{
    margin-left: 5px;
}

.button-left{
    margin-right: 5px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to fill the entire viewport */
    position: fixed; /* Use fixed positioning to keep it centered even when scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Add a semi-transparent background */
  }

  .dueDateCell {
    color: black;
  }
  
  .overdueDueDateCell {
    color: red;
    font-weight: bold;
  }
