.card-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Hiển thị 2 card trên một hàng
    grid-gap: 30px; // Khoảng cách giữa các card
    margin: 10px 20px 0px;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr; // Khi màn hình nhỏ hơn hoặc bằng 768px, hiển thị 1 card trên một hàng
    }
}
.card-sms{
    height: 180px;
    border: 1px solid black;
}
.card-totp{
    border: 1px solid black;
}